################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MMS.WebUI/logs
/MMS_SAD/.vs/MMS/v16

/BLOG_Document/bin
/BLOG_Document/obj/Debug

/MMS.BLL/bin/Debug
/MMS.BLL/obj/Debug

/MMS.DAL/bin/Debug
/MMS.DAL/obj/Debug

/MMS.DomainModel/bin/Debug
/MMS.DomainModel/obj/Debug

/MMS.WebUI/bin
/MMS.WebUI/obj/Debug



/MMS.WebUI/logs
/MMS_SAD/.vs/MMS/v16

/BLOG_Document/bin
/BLOG_Document/obj/Debug

/MMS.BLL/bin/Debug
/MMS.BLL/obj/Debug

/MMS.DAL/bin/Debug
/MMS.DAL/obj/Debug

/MMS.DomainModel/bin/Debug
/MMS.DomainModel/obj/Debug

/MMS.WebUI/bin
/MS.WebUI/obj/Debug
/MMS.Common/bin/Debug
/MMS.Resources/obj/Debug
/MMS.Common/obj/Debug
/MMS.Resources/bin/Debug/ar
/MMS.Resources/bin/Debug
/MMS.BLL/bin/Release/ar
/MMS.BLL/bin/Release
/MMS.Common/bin/Release
/MMS.DAL/bin/Release
/MMS.DomainModel/bin/Release
/MMS.Resources/bin/Release
/MMS.DAL/obj/Release/edmxResourcesToEmbed
/MMS.Resources/obj/Release/ar
/MMS.Resources/obj/Release/MMS.Resources.Administration.AccountLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityActionLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityActionLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.ID_TYPELP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.AccountLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityUserRoleLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityUserRoleLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityUserLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityUserLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityRoleLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityRoleLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityPermissionLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityPermissionLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityFeatureLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SecurityFeatureLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.UserRoleLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.UserRoleLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.UserLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.UserLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.UserActLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.UserActLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.SP_SITES_maglsEdara_ResultLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.Site.resources
/MMS.Resources/obj/Release/MMS.Resources.Administration.Site.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.DocAttribute.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.DocAttribute.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.AttributeListItem.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.AttributeListItem.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Attachment.AttachmentLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Attachment.AttachmentLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Attachment.AttachmentDetailLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Attachment.AttachmentDetailLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.AgendaResult.AgendaResult_DepartmentLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Common.ErrorMessageLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Common.ButtonsLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Common.ButtonsLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.DocumentType.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.DocumentType.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.Document.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.Document.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.DocTypeAttribute.resources
/MMS.Resources/obj/Release/MMS.Resources.BlogDocument.DocTypeAttribute.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttendeeTypeLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.ADUserLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.ADUserLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.csproj.GenerateResource.cache
/MMS.Resources/obj/Release/MMS.Resources.csproj.CoreCompileInputs.cache
/MMS.Resources/obj/Release/MMS.Resources.csproj.AssemblyReference.cache
/MMS.Resources/obj/Release/MMS.Resources.Common.OperationMessageLP.resources
/MMS.Resources/obj/Release/MMS.Resources.Common.OperationMessageLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.Common.ErrorMessageLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeSpecialValidationLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeSpecialValidationLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeListItemLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeListItemLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeDataTypeLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeDataTypeLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeControlLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttributeControlLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.AttendeeTypeLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.Correspondence_DetailsLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.CommitteeUserLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.CommitteeUserLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.CommitteeLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.CommitteeLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.BranchTopicLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.BranchTopicLP.ar.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.BasicTopicLP.resources
/MMS.Resources/obj/Release/MMS.Resources.DataEntry.BasicTopicLP.ar.resources
/MMS.Resources/obj/Release
/MMS.WebUI/obj/Release
/MMS.DomainModel/obj/Release
/MMS.DAL/obj/Release
/MMS.Common/obj/Release
/MMS.BLL/obj/Release
/FileNetAPI/obj/Release
/BLOG_Document/obj/Release
/FileNetAPI/bin/Release
/MMS.ViewModel/obj/Release
/MS.WebUI/obj/Release
/MMS.WebUI/obj/Release/MMS.WebUI.csproj.FileListAbsolute.txt
/.vs/MMS/FileContentIndex
